<% content_for :title do %>Haritz Iturbe<% end %>
<% content_for :description do %>Haritz Iturbe-ren newsletter-a<% end %>
<section>
	<img src="https://avatars0.githubusercontent.com/u/1295672?v=3&s=460" alt="">
</section>
<section>
	<div class="column">
		<h2>Ongi etorri.</h2>
	</div>
	<div class="column">
		<div class="form-centered">
			<%= simple_form_for @visitor do |f| %>
				<%= f.error_notification %>
				<%= f.input :email, label: false, :placeholder => 'Zure email helbidea...' %>
				<br>
				<%= f.button :submit, "Izena eman", :class => "submit" %>
			<% end %>
		</div>
	</div>
</section>