<% content_for :title do %>Niri buruz<% end %>
<h3>Datu Pertsonalak</h3>
<p>
	<ul>
		<li>Izena: Haritz Iturbe Zumeta</li>
		<li>Jaioteguna: 1981/10/25</li>
		<li>Bizilekua: Zarautz, Gipuzkoa, Euskal Herria</li>
		<li>Mugikorra: 615728451</li>
		<li>Email: haritziturbe@gmail.com</li>
		<li>Github: <a href="https://github.com/hizai">https://github.com/hizai</a></li>
		<li>Twitter: <a href="https://twitter.com/haritziz">https://twitter.com/haritziz</a></li>
		<li>Gidabaimena: B1 eta kotxe propioa</li>
	</ul>
</p>
<h3>Formakuntza Akademikoa</h3>
<p>
	<ul>
		<li>Online Kurtsoak + Autoformakuntza (2012-2014): Ruby + Ruby on Rails, Python + Django, NodeJS, Linux, Android, GIT + Github, ...</li>
		<li>Kurtsoa (2009): Analista Programador, Area-n (Donostia)</li>
		<li>Unibertsitatea (2003-2007): Injenieritza Informatikoa, MU-n (Arrasate) eta EHU-n (Donostia). Amaitu gabe.</li>
		<li>Lanbide Heziketa (2001-2003): Aplikazio Informatikoen Garapena, Antoniano Ikastetxea-n (Zarautz)</li>
		<li>Hizkuntzak: Euskera: Ama hizkuntza (EGA ziurtagiria). Ingelesa: Maila ertaina (maila altua lortzeko ikasten)</li>
	</ul>
</p>
<h3>Lan Esperientzia</h3>
<p>
	<ul>
		<li>Aner Sistémas Informáticos: (2009-2011). Web aplikazioen garapenak.</li>
		<ul>
			<li>Symfony2 (PHP)</li>
			<li>MySQL (WAMP)</li>
			<li>jQuery (Javascript)</li>
			<li>XHTML + CSS</li>
			<li>GIT</li>
			<li>NetBeans + Notepad++</li>
		</ul>
		<li>Urola Kosta Udal Elkartea: (2008-2009). 3D Diseinua.</li>
		<ul>
			<li>Photomodeler</li>
			<li>Blender</li>
			<li>Google Earth + KML</li>
		</ul>
		<li>Salbatore Mitxelena Ikastola: (2003). Web garapena eta mantenimentu lanak.</li>
		<ul>
			<li>PHP</li>
			<li>HTML</li>
			<li>Linux</li>
		</ul>
	</ul>
</p>