<% content_for :title do %>Niri buruz<% end %>
<h3>Haritz Iturbe</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis vero temporibus eius repellat amet, quis, rem accusantium reprehenderit cupiditate maiores aspernatur sapiente impedit suscipit dignissimos itaque velit eos, optio consequuntur?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro odio reiciendis mollitia rerum corrupti, nemo harum placeat reprehenderit voluptate, explicabo culpa itaque vel earum est incidunt architecto dolores voluptatum soluta?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aspernatur natus nisi porro reprehenderit soluta dignissimos, rerum libero, illum voluptate molestiae tempore! Labore aliquid asperiores illo vitae, ab enim. Ab.</p>
<p>Denak du bere neurria.</p>